.about-section {
    padding-top: 90px;
    background: #F9F9FF url(./images/about-bg.png) center center / cover no-repeat;
}

.about-block,
.works-block {
    display: flex;
    align-items: center;
    padding: 70px 0 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.about-content {
    padding-right: 80px;
}

.about-content p {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
}

.about-img img {
    width: 100%;
    min-height: 570px;
    object-fit: cover;
    border-radius: 24px;
}